.pwa-container
  background: linear-gradient(to right, #ff512f, #dd2476)
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  height: 100%

.pwa-header
  display: flex
  justify-content: flex-start
  align-items: center
  width: 100%
  margin: 0 4vw 0 4vw

  h1
    width: 100%
    font-size: 3em
    font-family: 'Pacifico'
    text-align: center
    color: white

    @media screen and (max-width:768px)
      margin-top: 20vw;
      font-size: 10vw

  p
    width: 100%
    font-family: 'Fredoka One'
    color: white
    text-align: left
    font-size: 25px
